*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(powderm.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    
}

main{
    min-height:100vh;

    display:flex;
    flex-direction:column;

    margin-top: 50px;
    align-items:center;     /* Tengah secara horizontal */

    text-align:center;
    gap:60px; /* Jarak antar elemen */
}

img{
    width: 150px;
    height: 150px;
    object-fit:cover;
    border-radius:25px;
    transition:.35s ease;
    box-shadow:0 15px 35px rgba(0,0,0,.25);
}

.title{
    text-align:center;
    margin:60px 0;
}

.title h1{
    font-size:70px;
    color:white;
    letter-spacing:8px;

    animation: float 3s ease-in-out infinite;
}

@keyframes float{

    0%,100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-12px);
    }

}

.gallery{

    width:90%;
    margin:auto;

    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));
    gap:25px;

}

.gallery img{

    width:100%;
    height:320px;

    object-fit:cover;

    background:#4e5802;

    padding:10px;

    border-radius:20px;

    box-shadow:0 12px 35px rgba(0,0,0,.18);

    transition:.35s ease;

}

.gallery img:hover{

    transform:
        translateY(-12px)
        scale(1.05);

    box-shadow:0 20px 45px rgba(0,0,0,.3);

}

@media (max-width:768px){

    main{
        padding-top:30px;
        gap:35px;
    }

    .title{
        margin:0;
    }

    .title h1{
        font-size:40px;
        letter-spacing:4px;
        text-align:center;
    }

    .gallery{
        width:95%;
        grid-template-columns:repeat(3,1fr); /* Tetap 3 kolom */
        gap:12px;
    }

    .gallery img{
        width:100%;
        height:120px;
        padding:6px;
    }

}